@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.form-cadastro-pet{
    display: flex;
    width: 100%;
    height: 100%;
    /*BackGround */

    background-color: black;
   
}
.text-pet {
    position: relative;
    position: relative;
    overflow: hidden;
    width: 70%;
}
.text-pet img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 70%;
    object-fit: cover;
}
.text-pet div {
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: #fff;
}
.text-pet div h2 {
    font-size: 50px;
}


.btn{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.details-page{
    background-color: #fff;
    border: 2px solid #ddd;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    padding: 5px;
    width: 100%;
    height: 53px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    text-decoration: none;
}

.details-page:hover{
    cursor:pointer;
    transition: all ease-in-out 150ms;
    background-color: #ddd;
    color: #fff;
}